* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  font-size: 2rem;
  font-family: "roboto";
  background-color: #020204;
}
.header {
  height: 76rem;
  background-image: url(/images/home-img.jpeg);
  background-repeat: no-repeat;
  background-size: 100%;
}
.container {
  width: 135rem;
  margin: 0 auto;
  padding: 2rem 2%;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 0.5rem 1rem 0 1rem;
  margin-bottom: 10rem;
}
.nav div {
  display: flex;
}
.nav_list {
  display: flex;
  list-style-type: none;
}
.nav_item {
  position: relative;
  margin-right: 20px;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
}
.nav_item:hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 2px;
  background-color: #d3ad7f;
}

.nav_item:hover {
  color: #d3ad7f;
}
.search-and-shop {
  display: flex;
  flex-direction: row-reverse;
  gap: 2rem;
}
.fa-shopping-cart,
.fa-search {
  width: 2.5rem;
  height: 2.5rem;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
.fa-shopping-cart:hover,
.fa-search:hover {
  color: #d3ad7f;
}
.header_title_part {
  width: 60rem;
  color: #fff;
}
.header_title {
  font-size: 6rem;
  text-transform: uppercase;
}
.header_caption {
  margin-bottom: 2rem;
  font-weight: lighter;
  padding: 1rem 0;
  line-height: 1.8;
  color: #eee;
}
.header_link {
  padding: 0.9rem 3rem;
  background-color: #d3ad7f;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
}
/* section about us */
.about_title {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-top: 2rem;
}
.about_title span {
  color: #d3ad7f;
}
.about_part {
  display: flex;
  align-items: center;
  background-color: #13131a;
}
.about_content_title {
  font-size: 3rem;
  color: #fff;
}
.about_content_caption,
.about_content_caption-2 {
  font-size: 1.6rem;
  color: #ccc;
}
